{% extends "widget-form.twig" %}
{% block other_options %}
<p>
    <label for="{{ esc_attr( ids.authors ) }}">{{ labels.authors }}:</label>

    <select id="{{ esc_attr( ids.authors ) }}" name="{{ esc_attr( names.authors) }}">';

        {% for key, label in options.authors %}
            <option value="{{ key }}"
                    {% if key == values.authors %}selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}

    </select>
</p>

<p>
    <label for="{{ esc_attr( ids.orderby ) }}">{{ labels.orderby }}:</label>

    <select id="{{ esc_attr( ids.orderby ) }}" name="{{ esc_attr( names.orderby) }}">';

        {% for key, label in options.orderby %}
            <option value="{{ key }}"
                    {% if key == values.orderby %}selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}

    </select>
</p>

<p>
    <label for="{{ esc_attr( ids.order ) }}">{{ labels.order }}:</label>

    <select id="{{ esc_attr( ids.order ) }}" name="{{ esc_attr( names.order) }}">';

        {% for key, label in options.order %}
            <option value="{{ key }}"
                    {% if key == values.order %}selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}

    </select>
</p>

<p>
    <label for="{{ esc_attr( ids.limit_per_page ) }}">{{ labels.limit_per_page }}:</label>
    <input class="widefat" id="{{ esc_attr( ids.limit_per_page ) }}" name="{{ esc_attr( names.limit_per_page ) }}" type="number"
           value="{{ esc_attr( values.limit_per_page ) }}">
</p>

<p>
    <input class="checkbox" id="{{ esc_attr( ids.show_empty ) }}" name="{{ esc_attr( names.show_empty ) }}" type="checkbox"
        {% if values.show_empty %} checked {% endif %}
    />
    <label for="{{ esc_attr( ids.show_empty ) }}">{{ labels.show_empty }}</label>
</p>

<p>
    <input class="checkbox" id="{{ esc_attr( ids.search_box ) }}" name="{{ esc_attr( names.search_box ) }}" type="checkbox"
        {% if values.search_box %} checked {% endif %}
    />
    <label for="{{ esc_attr( ids.search_box ) }}">{{ labels.search_box|raw }}</label>
</p>

<p>
    <label for="{{ esc_attr( ids.search_field ) }}">{{ labels.search_field|raw }}:</label>
    <input class="widefat" id="{{ esc_attr( ids.search_field ) }}" name="{{ esc_attr( names.search_field ) }}" type="text"
           value="{{ esc_attr( values.search_field ) }}">
</p>
{% endblock %}

{% block plural_field %}
{% endblock %}
