<p>
    <label for="{{ esc_attr( ids.title ) }}">{{ labels.title }}:</label>
    <input class="widefat" id="{{ esc_attr( ids.title ) }}" name="{{ esc_attr( names.title ) }}" type="text"
           value="{{ esc_attr( values.title ) }}">

    {% block plural_field %}
        <label for="{{ esc_attr( ids.title_plural ) }}">{{ labels.title_plural }}:</label>
        <input class="widefat" id="{{ esc_attr( ids.title_plural ) }}" name="{{ esc_attr( names.title_plural ) }}" type="text"
               value="{{ esc_attr( values.title_plural ) }}">
    {% endblock %}
</p>

<p>
    <label for="{{ esc_attr( ids.layout ) }}">{{ labels.layout }}:</label>

    <select id="{{ esc_attr( ids.layout ) }}" name="{{ esc_attr( names.layout) }}">';

        {% for layout, text in layouts %}
            <option value="{{ layout }}"
                    {% if layout == values.layout %}selected="selected"{% endif %}>{{ text }}</option>
        {% endfor %}

    </select>
    <input type="hidden" id="{{ ids.nonce }}" name="{{ names.nonce }}" value="{{ values.nonce }}"/>
</p>
{% block other_options %}
{% endblock %}
