<div class="pp-multiple-authors-wrapper {{ css_class }} pp-multiple-authors-layout-{{ layout }}">
    {% if show_title %}
        <h2 class="widget-title">{{ title }}</h2>
    {% endif %}

    {% if shortcode.search_box %}
        <div class="pp-multiple-authors-searchbox searchbox">
            <form action="" method="GET">
                <input class="widefat" id="authors-search-input" name="seach_query" type="search"
                    value="{{ template_options.search_query }}" placeholder="{{ template_options.search_placeholder }}">
                {% if template_options.filter_fields %}
                    <select id="authors-search-filter" name="search_field">';
                        {% for option, text in template_options.filter_fields %}
                            <option value="{{ option }}"
                                    {% if option == template_options.selected_option %}selected="selected"{% endif %}>{{ text }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <input type="submit" class="button search-submit" id="" name="submit" value="{{ template_options.search_submit }}"/>
            </form>
        </div>
    {% endif %}

    <ul>
        {% for author in authors %}
            <li class="author_index_{{ loop.index }} author_{{ author.slug }}">
                <div>
                    {% if author.get_avatar %}
                        {{ author.get_avatar(80)|raw }}
                    {% else %}
                        {{ get_avatar(author.user_email, 80)|raw }}
                    {% endif %}
                </div>
                <div class="multiple-authors-name">
                    <a href="{{ author.link }}" class="{{ item_class }}" rel="author">{{ author.display_name|raw }}</a>
                </div>
                {% if author.description %}
                    <p class="multiple-authors-description">{{ author.description|raw }}</p>
                {% endif %}

                <p class="multiple-authors-links">
                    <a href="{{ author.link }}">
                        <span>{{ strings.view_all }}</span>
                    </a>

                    {% if show_email and author.user_email %}
                        <a href="mailto:{{ author.user_email }}" target="_blank"><span
                                    class="dashicons dashicons-email-alt"></span></a>
                    {% endif %}

                    {% if show_site and author.user_url %}
                        <a href="{{ author.user_url }}" target="_blank"><span
                                    class="dashicons dashicons-admin-links"></span></a>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>

    {% if pagination %}
        <nav class="footer-navigation navigation pagination">
            <div class="nav-links">
                {{ pagination|raw }}
            </div>
        </nav>
    {% endif %}

</div>
