<div class="pp-multiple-authors-wrapper {{ css_class }} pp-multiple-authors-layout-{{ layout }}">
    {% if show_title %}
        <h2 class="multiple-authors-layout-inline widget-title">{{ title }}</h2>
    {% endif %}

    {% for author in authors %}
        <span class="multiple-authors-layout-inline author_index_{{ loop.index }} author_{{ author.slug }}">
            <a href="{{ author.link }}" class="{{ item_class }}"
               rel="author">{{ author.display_name|raw }}</a>{% if loop.index < authors|length %},{% endif %}
        </span>
    {% endfor %}
</div>
